.TodoItem{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #4d4d4d;
}
.TodoItem-Complete{
    text-decoration: line-through;
    opacity: .3;
}
img{
    float: left;
    margin-right:10px; 
}